#overskrift_1 {
  font-family: Times;
  font-size: 20px;
  font-weight: bold;
}
#tekst_1 {
  font-family: Times;
  font-weight: bold;
}

#titel {
font-family: Verdana;
font-size: 28px;

}

#sum-lommeregner {
  font-family: Verdana;
  text-align: center;
  font-weight: bold;
}
  
